{% extends "plantilla.html" %}

{% block body %}
 
    <main class="main">
        <div class="info-content">
            <h1>Jose <span>velasquez</span> Trillos</h1>
            <br><br>
            <p>Desarrollador de Bases de Datos con 1 años de experiencia en la creación, gestión y optimización de bases de datos robustas y eficientes. Experto en el diseño de estructuras de datos, modelado relacional y no relacional, y en la implementación de soluciones de alto rendimiento que garantizan la integridad y disponibilidad de la información. Conocedor de las mejores prácticas de seguridad de datos y apasionado por el análisis de grandes volúmenes de información.</p>
            <br>
            <a download="" href="#">
                <button class="download-cv" download=""> Download CV </button>
            </a>
        </div>
        <img src="/static/image/José-removebg-preview.png" alt="jose imagen">
    </main>
</div>
  
{% endblock %}