{% extends "plantilla.html" %}

{% block body %}

    <div class="about">

    <div>
        <img src="/static/image/José-removebg-preview.png" alt="about retrato">
    </div>
    <div class="about-info"><br><br>
        <h2>Sobre mi</h2>
    
        <div class="divider"></div>
        <br><br>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam a officia, accusantium at illo quibusdam deserunt doloremque nostrum consequatur consequuntur quaerat voluptates doloribus nobis distinctio molestiae unde dolore voluptatem similique!</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas eaque vero molestiae. Quidem error nisi ullam, incidunt excepturi eius quibusdam dicta ipsa vel optio corporis quis explicabo tempora omnis cum?</p>
        <br><br>
        
    </div>
    </div>

    
{% endblock %}